{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Trip</h1>
  {% endif %}
  <!-- Leaving the action empty makes the form post to the same url used to display it -->
  <form action="" method="POST">
    <!-- Django requires the following for security purposes -->
    {% csrf_token %}
    <label for="name">Name of the trip: </label>
    <input id="name" type="text" name="name">
    <br>
    <label for="city">What city are you going to?: </label>
    <input id="city" type="text" name="city">
    <br>
    <label for="cityFrom">What city are you coming from?: </label>
    <input id="cityFrom" type="text" name="cityFrom">
    <br>
    <label for="county">What county are you going to?: </label>
    <input id="county" type="text" name="county">
    <br>
    <label for="stayLength">How many days is your trip?: </label>
    <input id="stayLength" type="number" name="stayLength">
    <br>
    <label for="date">When are you leaving?: </label>
    <input id="date" type="date" name="date">
    <br>
    <label for="description">Description: </label>
    <input id="description" type="text" name="description">
    <br>
    <input type="submit" value="Submit!" class="btn">
  </form>
{% endblock %}
